{% extends extend %} 
{% block content %}
<div style="background: url(/static/image/about.jpg) no-repeat;height:500px;background-size:100% 100%;">
<div style="margin:50px 80px;">
<h1>
    关于我们：
</h1>
</br>
<p>热爱音乐的人都是热爱生活的人，爱音乐的人应该感谢这个时代，应该感谢发达的资讯和传媒让我们可以聆听到如此丰富多彩的音乐;但是同时爱音乐的人往往也会痛恨这个时代，那些随时在耳边响起的彩铃音乐，美发厅小卖部传出来的网络音乐，电视里反复播放的榜单音乐和选秀音乐，无时不刻的轰击着我们的耳朵，发达的资讯渠道却成为爱生活的我们最大的噪音来源。爱生活，爱自由，我们对音乐的选择却很累很不自由。
    南瓜的烦恼却比这些更沉重，耳机常年挂，买正版唱片、外出看演唱会，除了这些一个真正乐迷都会做的事情外，他还组织过乐队，还是一个演出经纪人，几年来组织过几百场各类音乐演出。南瓜说，音乐让他感动的在于，上千场的演出中真正赚钱的很少，但是这些清苦的歌者们仍然保持着对音乐宗教式的信仰和追求。对于歌者，这仿佛并不是一个好的时代。。。
</p>
</div>
</div>
<style>
    .about-us {
        border-bottom: 6px solid #39b58b;
    }
</style>
{% endblock %}