<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>管理员用户页面</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/admin.css" rel="stylesheet">
    <style>
    </style>
<script src="/static/js/jquery-1.12.4.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/ajax.js"></script>
<script src="/static/js/text-utils.js"></script>
<script src="/static/js/index.js"></script>
<script src="/static/js/ajaxfileupload.js"></script>
</head>

<body>
        <nav>
            <div class=" text-center text-md-left">
            <div class="row nav-top" style="width:100%;">
            <div class="col-md-3">
                <span>手机售后服务管理平台</span>
            </div>
            <div class="col-md-9" style="margin-bottom:15px;">
                        <button type="text" onclick="logout()" class="btn btn-link logout " style="float: right;font-size: 20px;padding:6px 2px">注销登录？<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></button>
                        <span style="padding: 6px 10px;float:right;">欢迎您!
                            <span id='login_user'>login User</span>
                        </span>
                <!--<div class="top">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#" class="nav-link">手机添加</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">手机列表</a>
                        </li>
                    </ul>
                </div>-->
            </div>
            </div>
            </div>
        </nav>
    <div class="aside">
        <ul class="list-group">
            <li class="list-group-item list-aside phones-manage" onclick="window.location.href='/adminIndex/phones_list'">
                 手机管理
            </li>
            <li class="list-group-item list-aside admin-orders " onclick="window.location.href='/adminIndex/orders_manage'">
                <span class="label label-default label-pill pull-right" id='order_ma_count' style="position:absolute;right:25px;">0</span>
                 工单管理
            </li>
            <li class="list-group-item list-aside admin-orders-his" onclick="window.location.href='/adminIndex/his_orders_list'">
                <span class="label label-default label-pill pull-right" id='order_his_count' style="position:absolute;right:25px;">0</span>
                 历史工单
            </li>
            <li class="list-group-item list-aside admin-info" onclick="window.location.href='/adminIndex/user_info'">
                 个人信息
            </li>
        </ul>
    
    </div>
    <div style="margin-left: 230px;">
    <div style="height:90px;width:100%;margin-bottom:20px;"></div>
    <div class="content-info" style="margin-right:10px;">
            {% block content %}
            {% endblock %}
    </div>

    </div>
        <script>
        (function () {
            get_login_user()
            get_order_ma_count();
            get_order_his_count();
        })()
        function get_order_ma_count(){
            postRequest("/get_order_ma_count/", {}, true, get_order_ma_count_ret);
        }
        function get_order_ma_count_ret(ret) {
            if (ret) {
                $("#order_ma_count").text(ret['count'])
            }
        }
        function get_order_his_count(){
            postRequest("/get_order_his_count/", {}, true, get_order_his_count_ret);
        }
        function get_order_his_count_ret(ret) {
            if(ret){
                $("#order_his_count").text(ret['count'])
            }
        }
        function get_login_user() {
            postRequest("/get_login_user/", {}, true, get_login_user_ret);
        }
        function get_login_user_ret(ret) {
            if (ret) {
                $("#login_user").text(ret['login_user']);
            }
        }
        function logout() {
                postRequest("/userLoginOut/", {}, false, logoutResult);
            }
            function logoutResult(ret) {
                if (ret['ret'] == true) {
                    window.location.href = "/index/";
                }
            }
        </script>
    </body>
</html>