{% if commits %}
<label style="font-size:1.2em;margin-bottom:15px;">歌曲名：&nbsp;{{ commits.0.commit_song.song_name }}</label><br>
{% for commit in commits %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><span>{{ forloop.counter }}楼</span>&nbsp;{{ commit.commit_user.user_name }}&nbsp;<span style="color:black">评论说：</span></h3>
    </div>
    <div class="panel-body">
        <p>{{ commit.commit_details }}</p>
        <span style="float: right;">回复时间： {{ commit.commit_date }}</span>

    </div>
</div>
{% endfor %}
{% else %}
<h3 style="color:red;">这首歌目前还没有人评论，快来抢个沙发吧~！</h3>
{% endif %}
<div class="reply-input">
<label>您的评价：</label>
<textarea class="form-control" style="margin: 10px 0px;" name="order-details" rows="5" placeholder="请输入评价内容"></textarea>
<div class="alter-info" style=" text-align:center;">
    <button onclick="commitReset()" class="btn btn-info" name="reset">重置</button>
    <button onclick="commitSubmit()" class="btn btn-primary" name="submit">提交</button>
</div>
</div>
<script>
</script>