
{% extends extend %}

{% block content %}
<div style="background: url(/static/image/home.jpg) no-repeat;width:100%;height:550px;background-size:100% 100%;display:flex;" >
    <div style="margin:auto;text-align:center" >            
    <a target="_blank" href="https://www.xiami.com/"><button class="btn btn-info btn-lg" >了解更多</button></a>
    <p style="color:white;font-size:2em;margin-top:20px;">本平台歌曲信息来源于虾米音乐，若想要获取更多信息，请点击<a target="_blank" href="https://www.xiami.com/">了解更多！</a></p>
    </div>
    </div>
<style>
    .page-info {
        border-bottom: 5px solid #39b58b;
    }
</style>
    {% endblock %}