
{% extends extend %}
{% block content %}
{% for item in items %}
<div class="phones-list" style="margin-left:55px;margin-top:20px;">
    <div class="item" phone-id={{ item.phone_id }}>
        <div class="item-nav" style="text-align:center;background-color:#f5f5f5">
            <span style="font-size: 20px;">{{ item.phone_name }}</span>
        </div>
        <div class="item-host">
            <img src="/static/pic_folder/{{item.image_path}}" width="100%" height="200px;">
            <ul class="item-li" >
                <li style="font-size: 14px;margin:0px">手机类型:
                    <span class="phoneName" >{{ item.phone_name }}</span>
                </li>
                <li style="font-size: 14px;margin:0px">手机描述:
                    <span class="phone-details" >{{ item.phone_details }}</span>
                </li>
                <li style="text-align:center;">
                    <a href="javascript:void(0);">
                        <span class=" glyphicon glyphicon-hand-right" style="color: rgb(212, 106, 64);" aria-hidden="true"></span>
                        {% if user_grant == 'custom' %}
                            <span contenteditable="false" class="startLogin" onclick=userLogin()>发起工单</span>
                        {% else %}
                            <span contenteditable="false" class="startService" onclick=startService(this)>发起工单</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
<style>
    .phones-info {
        border-bottom: 6px solid #39b58b;
    }
</style>
<script>
    function startService(elem) {
        var html = ""
        var phone_id = $(elem).parents(".item").attr("phone-id");
        var phoneName = $(elem).parents(".item").find(".phoneName").text()
        var serversInfo = httpGet("/userIndex/servers_list/?type=html");
        html += "<h3>您已选择手机类型：<span id='phone-name'>" + phoneName + "</span></h3>"
        html += "<h5>请选择客服人员：</h5>" 
        html += serversInfo;
        html += "<span id='phone-id' style='display:none;'>" + phone_id + "</span>";
        var title = "发起工单"
        dialogAlert(title, html);
        $(".bootstrap-dialog-message").css("height", "500px");
        $(".bootstrap-dialog-message").css("overflow", "scroll");
    }   
</script>
{% endblock %}