{% extends extend %} 
{% block content %}
<div style="margin:30px 60px;padding:1px;border:0.2px solid #5bc0de;">
<table class="table table-hover" style="table-layout:fixed; font-size:1.2em;margin-bottom:0px;">
    <tbody id='table-group'>
    {% for i in range %}   
<tr >
    <td class="check">
        <input data-action="check" type="checkbox" name="chartids" value="1803053391" checked="checked">
    </td>
    <td class="trackid">1</td>
    <td class="current">
            <span>0</span>
    </td>
    <td class="songblock">
                    <a class="artist" href="/artist/iim17edb" title="周杰伦(Jay Chou)" target="_blank">周杰伦(Jay Chou)</a>
    </td>
    <td class="hot">
            <span style="width:100%"></span>
    </td>
    <td class="action">
            <button data-action="play" class="play" onclick="play(1803053391, 'default', 0, this);" title="试听">试听</button>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<style>
    .user-orders {
        border-bottom: 6px solid #39b58b;
    }
    .table>tbody>tr>td {
        border-top:none; 
        border-bottom: 1px solid #ddd;
    }
    .table>tbody>tr:hover {
        background-color: #DBEEF5;
    }
    .admin-orders-his {
        border-right: 6px solid #39b58b;
    }
</style>
<script>
    (function () {
        $("span[data-trigger='hover']").popover();
    })()
    function order_details(elem) {
            var html = ""
            var order_id = $(elem).attr('order-id')
            var commitInfo = httpGet("/commit_html/?order_id=" + order_id + "&order_type=details");
            html += commitInfo;
            var title = "查看工单详情"
            dialogAlert(title, html);
            $(".bootstrap-dialog-message").css("height", "500px");
            $(".bootstrap-dialog-message").css("overflow", "scroll");
            $(".bootstrap-dialog-message").css("text-align", "left");
        }
</script>
{% endblock %}