{% extends extend %} 
{% block content %}
<table class="table table-hover" style="table-layout:fixed;margin-top:20px; font-size:1.2em">
    <thead>
        {% if user_grant == 'user' %}
        <th>客服人员</th>
        {% elif user_grant == 'admin' %}
        <th>工单用户</th>
        {% endif %}
        <th>手机类型</th>
        <th>工单标题</th>
        <th>工单信息</th>
        <th>工单时间</th>
        <th>工单详情</th>
    </thead>
    <tbody id='table-group'>
        {% for list in lists %}
        <tr>
         {% if user_grant == 'user' %}
        <td>
            <span data-html='true' data-toggle='popover' data-trigger='hover' data-containter='body' data-placement='top' data-content='{{ list.user_id }}'
                data-original-title="" title="">{{ list.server_id }}</span>
        </td>
        {% elif user_grant == 'admin' %}
        <td>
            <span data-html='true' data-toggle='popover' data-trigger='hover' data-containter='body' data-placement='top' data-content='{{ list.user_id }}'
                data-original-title="" title="">{{ list.user_id }}</span>
        </td>
        {% endif %}
            <td>
                <span data-html='true' data-toggle='popover' data-trigger='hover' data-containter='body' data-placement='top' data-content='{{ list.phone_id }}'
                    data-original-title="" title="">{{ list.phone_id }}</span>
            </td>
            <td>
                <span data-html='true' data-toggle='popover' data-trigger='hover' data-containter='body' data-placement='top' data-content='{{ list.order_title }}'
                    data-original-title="" title="">{{ list.order_title }}</span>
            </td>
            <td>
                <span data-html='true' data-toggle='popover' data-trigger='hover' data-containter='body' data-placement='top' data-content='{{ list.order_details }}'
                    data-original-title="" title="">{{ list.order_details }}</span>
            </td>
            <td>
                <span data-html='true' data-toggle='popover' data-trigger='hover' data-containter='body' data-placement='top' data-content='{{ list.order_time }}'
                    data-original-title="" title="">{{ list.order_time }}</span>
            </td>
            <td><button order-id={{ list.order_id}} class="btn btn-link" style="padding:0px;" onclick="order_details(this)">查看详情</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<style>
    .user-orders {
        border-bottom: 6px solid #39b58b;
    }

    .admin-orders-his {
        border-right: 6px solid #39b58b;
    }
</style>
<script>
    (function () {
        $("span[data-trigger='hover']").popover();
    })()
    function order_details(elem) {
            var html = ""
            var order_id = $(elem).attr('order-id')
            var commitInfo = httpGet("/commit_html/?order_id=" + order_id + "&order_type=details");
            html += commitInfo;
            var title = "查看工单详情"
            dialogAlert(title, html);
            $(".bootstrap-dialog-message").css("height", "500px");
            $(".bootstrap-dialog-message").css("overflow", "scroll");
            $(".bootstrap-dialog-message").css("text-align", "left");
        }
</script>
{% endblock %}