{% extends extend %}
{% block content %}
<div>
    <span class="glyphicon glyphicon-edit btn btn-link" style="color:#337ab7;" onclick="alter_userinf()" aria-hidden="true">修改个人资料</span>
</div>
<ul id="self-inf" class="list-group" style="height:150px;text-align: left;">
    <li class="list-group-item">&emsp;用户昵称：
        <span id="userName" contenteditable="false" style="width:200px;">{{ user_info.user_nickname }}</span>
    </li>
    <li class="list-group-item">&emsp;&emsp;性别：
        <span id="userSex" contenteditable="false" style="width:200px;">{{ user_info.user_sex }}</span>
    </li>
    <li class="list-group-item">个性签名：
        <span id="userMark" contenteditable="false" style="width: 200px; color:salmon;">{{ user_info.user_mask }}</span>
    </li>
    <li class="list-group-item">&emsp;&emsp;评分：
        <span id="userGrades" contenteditable="false" style="width:200px;">{{ user_info.user_grades }}</span>
    </li>
    <li>
        <div class="alter-menu" style="margin-top: 20px;text-align: center; display:none;" >
            <input type="button" onclick="alterSubmit(this)" class="btn btn-success" value="提交">
            <input type="button" onclick="alterAbort()" class="btn btn-info" onclick="" value="取消修改">

        </div>
    </li>
</ul>
<style>
    .user-info {
        border-bottom: 6px solid #39b58b;
    }
    .admin-info {
        border-right: 6px solid #39b58b;
    }
    .content-info {
        display:  block;
    }
</style>
<script>
function alter_userinf() {
    var items = $("#self-inf>.list-group-item>span")
        items.addClass("span-edit");
        items.attr("contenteditable", "true");
        $("#userGrades").attr("contenteditable", "false");
        $("#userGrades").removeClass("span-edit");
        $(".alter-menu").css("display", "block");
    }

function alterSubmit(elem) {
    var userName = $("#userName").text();
    var userSex = $("#userSex").text();
    var userMark = $("#userMark").text();
    var data = {"userName": userName, "userSex": userSex, "userMark": userMark}
    //postRequest
    postRequest("/alert_user_info/", data, true, alert_user_ret);
}

function alert_user_ret(ret){
    if(ret == true){
        alert("修改个人信息成功!");
        location.reload()
    }else{
        alert("修改个人信息失败!");
        location.reload()
    }
}

function alterAbort(){
    location.reload()
}
</script>
{% endblock %}